@font-face {
    font-family: rhd;
    src: url(RedHatDisplay-VariableFont_wght.ttf);
}
body{
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(228, 100%, 95%);
    background-size: contain;
}
main{
    width: 449px;
    height: 650px;
    /*border: 1px solid red;*/
    margin: auto;
    border-radius: 15px;
    position: relative;
    top: 20px;
    font-family: rhd;
    background-color: white;
    box-shadow: 4px 10px 25px hsl(227, 52%, 75%);
}

.image svg{
    width: 449px;
    border-radius: 15px 15px 0 0;
    
}
.order{
    width: 200px;
    height: 40px;
    /*border: 1px solid green;*/
    margin: auto;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
}
.summary{
    width: 310px;
    height: 70px;
    /*border: 1px solid green;*/
    margin: auto;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    text-align: center;
}
.product{
    width: 350px;
    height: 100px;
    /*border: 1px solid green;*/
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
}
.product svg{
    /*border: 1px solid red;*/
    width: 65px;
    margin-left: 15px
}
.package{
    width: 100px;
    height: 80px;
   /* border: 1px solid blue; */
}
.plan,.price{
    width: 100px;
    height: 39px;
    /* border: 1px solid red; */
    display: flex;
}
.plan{
    align-items: last baseline;
    font-weight: 700;
}
.price{
    color: grey;
}
.Link{
    width: 150px;
    height: 40px;
    /*border: 1px solid blue; */
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    font-weight: 500;
}
.Link a:hover{
    color: hsl(245, 91%, 59%);
}
.B1, .B2{
    width: 340px;
    height: 40px;
    /*border: 1px solid red;*/
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.B1{
    margin-top: 30px;
    box-shadow: 0 13px 9px rgba(0, 0, 0, 0.119);
}
.B2{
    margin-top: 14px;
}
.b1,.b2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    /*border: 1px solid blue;*/
}
.b1{
    width: 340px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background-color: hsl(245, 75%, 52%);
}
.b1:hover{
    background-color: hsl(245, 100%, 65%);
}
.b2{
    height: 25px;
    margin-top: 8px;
    background-color: white;
    color: gray;
}
.b2:hover{
    color: black;
}